{% extends 'base.html' %}
{% load static %}
{% load form_tags %}
{% block title %}Create Gift!{% endblock %}
{% block content %}
<style>
    body {
               background-image: url("{% static 'img/gift_create_bg.jpg' %}");
               background-repeat: no-repeat;
               background-attachment: fixed; 
               background-size: cover;
           }
   </style>
<div class="row justify-content-center">
    <div class="col-md-6 border shadow p-3 mb-5 bg-body rounded p-5 mb-5 bg" style="background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);opacity: 95%;">
        <h1 class="text-center style-hint">Create Gift!</h1>
        <form method="post" enctype="multipart/form-data" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
                {{ form.non_field_errors }}
                {{ form.age.label_tag }}
                {{ form.age|add_class:"form-control" }}
                {{ form.age.errors }}
            </div>
            <div class="form-group">
                {{ form.creator.label_tag }}
                {{ form.creator|add_class:"form-control" }}
                {{ form.creator.errors }}
            </div>
            <div class="form-group custom-file">
                <input type="file" id="id_img" name="img" class="custom-file-input" accept="image/*" onchange="previewImage(event)">
                <label class="custom-file-label" for="id_img">Choose image...</label>
                {{ form.img.errors }}
            </div>
            <div class="form-group">
                <img id="imgPreview" src="#" alt="Image Preview" class="img-fluid mt-2" style="display: none;">
            </div>
            <div class="form-group">
                {{ form.description.label_tag }}
                {{ form.description|add_class:"form-control" }}
                {{ form.description.errors }}
            </div>
            <button type="submit" class="btn btn-primary btn-block">Save</button>
        </form>
    </div>
</div>



<script>
function previewImage(event) {
    var input = event.target;
    var reader = new FileReader();
    reader.onload = function() {
        var imgPreview = document.getElementById('imgPreview');
        imgPreview.src = reader.result;
        imgPreview.style.display = 'block';
    }
    reader.readAsDataURL(input.files[0]);
}

// Update the file label text when a file is chosen
document.getElementById('id_img').addEventListener('change', function() {
    var fileName = this.files[0].name;
    var nextSibling = this.nextElementSibling;
    nextSibling.innerText = fileName;
});
</script>
{% endblock %}
