{% extends 'base.html' %}
{% load static %}
{% block title %}Birthdays{% endblock %}
{% block content %}
<style>
     .hero {
        background: url("{% static 'img/bf_catcher_bg.jpg' %}") no-repeat center center;
        background-size: cover;
        height: 100vh;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .hero-content {
        background: rgba(0, 0, 0, 0.5);
        padding: 30px;
        border-radius: 10px;
    }
</style>
<div class="hero">
    <div class="hero-content">
        <h1 class="display-4">Welcome to Virtual Gifts</h1>
        <p class="lead">Send love and joy to your loved ones with our amazing virtual gifts.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'birthday_create' %}" role="button">Create Gifts!</a>
    </div>
</div>
<!-- <ul class="list-group">
    {% for birthday in birthdays %}
    <li class="list-group-item">
        <a href="{% url 'birthday_detail' birthday.id %}">{{ birthday.creator }}</a>
        <a href="{% url 'butterflycatcher' birthday.id %}">{{ birthday.age}}</a>
    </li>
    {% endfor %}
</ul> -->
{% endblock %}

