{% extends 'base.html' %}
{% load static %}
{% block title %}Birthday Detail{% endblock %}

{% block content %}
<style>
    body {
            background-image: url("{% static 'img/celebration_bg.gif' %}");
            background-repeat: no-repeat;
            background-attachment: fixed; 
            background-size: cover;
        }
</style>
<div class="container text-center">
    <div class="d-flex justify-content-center mt-4">
      <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 30rem;">
          <div class="text-center">
              <img src="{{ birthday.img.url }}" class="card-img-top img-fluid img text-center" style="width: 80%;" alt="Birthday Image">
            </div>
          <div class="card-body text-center">
              <div class="mt-3">
                <h5 class="card-title mb-3">From {{ birthday.creator }}!</h5>
                <p class="card-text mb-3">{{ birthday.description }}</p>
                <button id="copyUrlButton" class="btn btn-block border border-secondary  mb-2 borderd" onclick="copyURL()">Copy URL</button>
                  <button class="btn border border-secondary btn-success btn-block mb-2" onclick="shareBirthday()">Share</button>
                  <hr>
                  <a href="{% url 'birthday_create' %}" class="btn btn-primary btn-block"> 🎁 Create Your Own Gifft</a>
              </div>
          </div>
      </div>
  </div>
</div>
<audio autoplay>
    <source src="{% static 'sounds/HappyBirthday2You.mp3' %}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<script>
function shareBirthday() {
    var navbdglink="{% url 'butterflycatcher' birthday.id %}"
    const shareData = {
        title: document.title,
        text: '{{ birthday.creator }} - {{ birthday.description|truncatewords:20 }}',
        url: navbdglink
    };

    if (navigator.share) {
        navigator.share(shareData)
            .then(() => console.log('Birthday shared successfully!'))
            .catch(error => console.error('Error sharing birthday:', error));
    } else {
        // Fallback for browsers that do not support the Web Share API
        prompt('Copy this link to share:', window.location.href);
    }
}

function copyURL() {
            const url = "http://127.0.0.1:8000{% url 'butterflycatcher' birthday.id %}";
            navigator.clipboard.writeText(url).then(() => {
                const copyButton = document.getElementById('copyUrlButton');
                copyButton.textContent = 'URL Copied!';
                // copyButton.classList.remove('btn-info');
                // copyButton.classList.add('btn-success');
                setTimeout(() => {
                    copyButton.textContent = 'Copy URL';
                    // copyButton.classList.remove('btn-success');
                    // copyButton.classList.add('btn-info');
                }, 2000); // Change text back after 2 seconds
            }).catch(err => {
                console.error('Error copying URL: ', err);
            });
        }
</script>
{% endblock %}
